<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sewain">

	<application
		android:allowBackup="true"
		android:hardwareAccelerated="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.SewaIN">
		<activity
			android:name=".UpdateActivity"
			android:exported="true" />
		<activity
			android:name=".DetailActivity"
			android:exported="true" />
		<activity
			android:name=".AddActivity"
			android:exported="true" />
		<activity
			android:name=".EditorActivity"
			android:exported="true" />
		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="AIzaSyAJ0XKmbJuSYUQKaa1wp6Li4fllqNC9298" />

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.example.android.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_parths" />
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />

</manifest>